@font-face {
    font-family: Lato-Regular;
    src: url(/assets/fonts/Lato/LatoRegular.ttf)
}

@font-face {
    font-family: Lato-Bold;
    src: url(/assets/fonts/Lato/LatoBold.ttf)
}

@font-face {
    font-family: Lato-Light;
    src: url(/assets/fonts/Lato/LatoLight.ttf)
}